h1 {
	margin:auto;
	font-size: 350%;
	padding-top: 10%;
}

h2 {
	text-align: left;
	margin-top: 8%;
	font-size: 250%;
}

.arrow {
	top: 200px;
	padding:0px;
	font-size: 3em;
}

.dropdown-toggle, .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:visited {
	background-image:none;
	color:white;
	background-color: black;
}

.dropdown-toggle:hover, .open>.dropdown-toggle.btn-default {
	color:black;
	background-color: white;
}

a {
	text-align: left;
}

/* .dropdown-menu li > a:hover, .dropdown-menu li > a:focus,
 .dropdown-submenu:hover > a*/
 /* .dropdown-menu */
