h1 {
	margin:auto;
	font-size: 350%;
	padding-top: 10%;
}

h2 {
	text-align: left;
	margin-top: 10%;
	font-size: 250%;
}

h3 {
	text-align: left;
	font-size: 3em;
}

h4 {
	text-align: left;
	font-size: 2em;
	margin-bottom: 10%
}

.arrow {
	top: 200px;
	padding: 0px;
	font-size: 2.5em;
}

.dropdown-toggle, .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:visited {
	background-image:none;
	color:white;
	background-color: black;
}

.dropdown-toggle:hover, .open>.dropdown-toggle.btn-default {
	color:black;
	background-color: white;
}

a {
	text-align: left;
}

.form-control, .form-control:active {
	color:white;
	text-align: left;
	background-color: black;
	border-color: white;
}

.input-group-addon {
	background-color: white;
}

/* .dropdown-menu li > a:hover, .dropdown-menu li > a:focus,
 .dropdown-submenu:hover > a*/
 /* .dropdown-menu */
