body{
	background: url("../img/background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.splashscreen {
	padding-top: 30%;	
}
h1{
	font-size: 30px;
}
#running{
	display: block;
	margin: auto;
	margin-top: 10%;
	padding: 2%;
	border: 1px solid rgb(237,45,58);
	border-radius: 5%;
	width:30%;
}

